<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>"Empowering innovation through cutting-edge electronics. Electro ECM: Your source for quality components, gadgets, and seamless technology solutions."</p>
                        <ul class="footer-links">
                            <li><i class="fa fa-map-marker"></i>Near to Bhagavathi temple,/Heggala,Virajpet</li>
                            <li><i class="fa fa-phone"></i>8972582431</li>
                            <li><i class="fa fa-envelope-o"></i>rojinid99@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a href="/api/products/laptops">Laptops</a></li>
                            <li><a href="/api/products/mobile">Smartphones</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="/profile">My Account</a></li>
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/ordersClient">Track My Order</a></li>
                            <!-- <li><a href="#">Help</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>