<div class="col-md-3 sidebar">
    <h2 class="sidebar-heading">Navigation</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Logout</a>
      </li>
    </ul>
  </div>
  