<div class="col-md-3 sidebar">
  <h2 class="sidebar-heading">Navigation</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
  </ul>
</div>
